/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-header{
    ion-toolbar{
    --background: #488AFF;
    color: #FFFFFF;
    }
}

.alertanormal{
    --backdrop-opacity:0.5;
    --background: #488AFF;
    text-align: center;
  
    img{
      width: 150px;
    }
  
    p{
      color: #FFFFFF;
      font-size: 18px;
    }
  
    .btnalertanormal{
      color:#FFFFFF;
      background-color: #000000;
      width: 65px;
      height: 45px;
      text-align: center;
      font-size: 10px;
      font-weight: bold;
    }
}

.alertaConfirmacion{
    --backdrop-opacity:0.5;
    --background: #488AFF;
    text-align: center;
  
    img{
      width: 150px;
    }
  
    p{
      color: #FFFFFF;
      font-size: 18px;
    }
  
    .btnalertaConfirmacionno{
      color:#FFFFFF;
      background-color: #ca1212;
      width: 65px;
      height: 45px;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
    }

    .btnalertaConfirmacionsi{
        color:#FFFFFF;
        background-color: #000000;
        width: 65px;
        height: 45px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
      }
}